.group-input {
  display: flex;
  margin: 10px 0;

  .icon-field {
    background-color: black;
    width: 69px;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
  }
  .input {
    width: 100%;
    height: 46px;
    font-size: 20px;
  }
  .image {
    width: 65%;
  }
}
